.CurrencyItem {
  background-color: transparent;
  padding: 15px 20px;
  border-top: 1px solid #7b7d90;
  transition: background-color .3s linear;
}

.CurrencyItem:hover {
  background-color: #7b7d90;
}
